jupyterlab
ipywidgets
mkl-service
numpy
pandas
pandas-profiling
openpyxl
scipy
statsmodels
matplotlib
matplotlib-venn
japanize-matplotlib
joypy
seaborn
fastcluster
statannotations
autoviz
requests
scikit-learn
rdkit
arviz
numpyro
jax
pystan
streamlit
